<h1 class="mt-5">Table of Persons</h1>

<button class="btn btn-primary" *appLoggedinOnly [routerLink]="['/admin/create']">Add New Person</button>

@if (loading()) {
  <div class="text-center">
    <div class="spinner-border">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
} @else if (error()) {
  Error: {{ error() }}
} @else if (persons().length === 0) {
  <div class="alert alert-info">
    No persons found. Please add a new person.
  </div>
} @else {
  <div class="container">
    <div class="left">
      <table class="table">
        <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Birthday</th>
          <th>Mail</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          @for (person of persons(); track person.id) { 
            <tr app-person-list-item [person]="person" (deleted)="removePerson($event)"></tr>  
          }
        </tbody>
      </table>
    </div>
  </div>  
}